DATABASE_URL="postgresql://docker:docker@localhost:5432/apisippy"
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

AUTH_SECRET=
GOOGLEMAPS_API_KEY=
NEXT_PUBLIC_GOOGLEMAPS_API_KEY= #for use in the browser

## Mailer related stuff
SMTP_HOST=smtp.ethereal.email
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM="'Admin' <admin@sippy.com>"

## Admin stuff
ADMIN_USERNAME=
ADMIN_PASSWORD=